/*
 * Shoelace Grid v1.0
 * Copyright 2015 John Petroviak
 */
 .container, .container-large, .container-medium, .container-small, .container-extra-small {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  
  .container-extra-small {
    max-width: 767px;
  }
  
  .container-small {
    max-width: 991px;
  }
  
  .container-medium {
    max-width: 1199px;
  }
  
  .container-large {
    max-width: 1399px;
  }
  
  .grid {
    display: block;
    letter-spacing: -4.5px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .grid.grid-padding-none {
    margin-left: 0;
    margin-right: 0;
  }
  .grid.grid-padding-none > [class^=tile] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .tile-extra-small-1, .tile-small-1, .tile-medium-1, .tile-large-1, .tile-extra-large-1, .tile-extra-small-2, .tile-small-2, .tile-medium-2, .tile-large-2, .tile-extra-large-2, .tile-extra-small-3, .tile-small-3, .tile-medium-3, .tile-large-3, .tile-extra-large-3, .tile-extra-small-4, .tile-small-4, .tile-medium-4, .tile-large-4, .tile-extra-large-4, .tile-extra-small-5, .tile-small-5, .tile-medium-5, .tile-large-5, .tile-extra-large-5, .tile-extra-small-6, .tile-small-6, .tile-medium-6, .tile-large-6, .tile-extra-large-6, .tile-extra-small-7, .tile-small-7, .tile-medium-7, .tile-large-7, .tile-extra-large-7, .tile-extra-small-8, .tile-small-8, .tile-medium-8, .tile-large-8, .tile-extra-large-8, .tile-extra-small-9, .tile-small-9, .tile-medium-9, .tile-large-9, .tile-extra-large-9, .tile-extra-small-10, .tile-small-10, .tile-medium-10, .tile-large-10, .tile-extra-large-10, .tile-extra-small-11, .tile-small-11, .tile-medium-11, .tile-large-11, .tile-extra-large-11, .tile-extra-small-12, .tile-small-12, .tile-medium-12, .tile-large-12, .tile-extra-large-12 {
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: normal;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
    width: 100%;
  }
  
  .tile-extra-small-1 {
    width: 8.3333333333%;
  }
  
  .tile-extra-small-2 {
    width: 16.6666666667%;
  }
  
  .tile-extra-small-3 {
    width: 25%;
  }
  
  .tile-extra-small-4 {
    width: 33.3333333333%;
  }
  
  .tile-extra-small-5 {
    width: 41.6666666667%;
  }
  
  .tile-extra-small-6 {
    width: 50%;
  }
  
  .tile-extra-small-7 {
    width: 58.3333333333%;
  }
  
  .tile-extra-small-8 {
    width: 66.6666666667%;
  }
  
  .tile-extra-small-9 {
    width: 75%;
  }
  
  .tile-extra-small-10 {
    width: 83.3333333333%;
  }
  
  .tile-extra-small-11 {
    width: 91.6666666667%;
  }
  
  .tile-extra-small-12 {
    width: 100%;
  }
  
  .tile-extra-small-left-0 {
    right: auto;
  }
  
  .tile-extra-small-left-1 {
    right: 8.3333333333%;
  }
  
  .tile-extra-small-left-2 {
    right: 16.6666666667%;
  }
  
  .tile-extra-small-left-3 {
    right: 25%;
  }
  
  .tile-extra-small-left-4 {
    right: 33.3333333333%;
  }
  
  .tile-extra-small-left-5 {
    right: 41.6666666667%;
  }
  
  .tile-extra-small-left-6 {
    right: 50%;
  }
  
  .tile-extra-small-left-7 {
    right: 58.3333333333%;
  }
  
  .tile-extra-small-left-8 {
    right: 66.6666666667%;
  }
  
  .tile-extra-small-left-9 {
    right: 75%;
  }
  
  .tile-extra-small-left-10 {
    right: 83.3333333333%;
  }
  
  .tile-extra-small-left-11 {
    right: 91.6666666667%;
  }
  
  .tile-extra-small-left-12 {
    right: 100%;
  }
  
  .tile-extra-small-right-0 {
    left: auto;
  }
  
  .tile-extra-small-right-1 {
    left: 8.3333333333%;
  }
  
  .tile-extra-small-right-2 {
    left: 16.6666666667%;
  }
  
  .tile-extra-small-right-3 {
    left: 25%;
  }
  
  .tile-extra-small-right-4 {
    left: 33.3333333333%;
  }
  
  .tile-extra-small-right-5 {
    left: 41.6666666667%;
  }
  
  .tile-extra-small-right-6 {
    left: 50%;
  }
  
  .tile-extra-small-right-7 {
    left: 58.3333333333%;
  }
  
  .tile-extra-small-right-8 {
    left: 66.6666666667%;
  }
  
  .tile-extra-small-right-9 {
    left: 75%;
  }
  
  .tile-extra-small-right-10 {
    left: 83.3333333333%;
  }
  
  .tile-extra-small-right-11 {
    left: 91.6666666667%;
  }
  
  .tile-extra-small-right-12 {
    left: 100%;
  }
  
  @media (min-width: 768px) {
    .tile-small-1 {
      width: 8.3333333333%;
    }
  
    .tile-small-2 {
      width: 16.6666666667%;
    }
  
    .tile-small-3 {
      width: 25%;
    }
  
    .tile-small-4 {
      width: 33.3333333333%;
    }
  
    .tile-small-5 {
      width: 41.6666666667%;
    }
  
    .tile-small-6 {
      width: 50%;
    }
  
    .tile-small-7 {
      width: 58.3333333333%;
    }
  
    .tile-small-8 {
      width: 66.6666666667%;
    }
  
    .tile-small-9 {
      width: 75%;
    }
  
    .tile-small-10 {
      width: 83.3333333333%;
    }
  
    .tile-small-11 {
      width: 91.6666666667%;
    }
  
    .tile-small-12 {
      width: 100%;
    }
  
    .tile-small-left-0 {
      right: auto;
    }
  
    .tile-small-left-1 {
      right: 8.3333333333%;
    }
  
    .tile-small-left-2 {
      right: 16.6666666667%;
    }
  
    .tile-small-left-3 {
      right: 25%;
    }
  
    .tile-small-left-4 {
      right: 33.3333333333%;
    }
  
    .tile-small-left-5 {
      right: 41.6666666667%;
    }
  
    .tile-small-left-6 {
      right: 50%;
    }
  
    .tile-small-left-7 {
      right: 58.3333333333%;
    }
  
    .tile-small-left-8 {
      right: 66.6666666667%;
    }
  
    .tile-small-left-9 {
      right: 75%;
    }
  
    .tile-small-left-10 {
      right: 83.3333333333%;
    }
  
    .tile-small-left-11 {
      right: 91.6666666667%;
    }
  
    .tile-small-left-12 {
      right: 100%;
    }
  
    .tile-small-right-0 {
      left: auto;
    }
  
    .tile-small-right-1 {
      left: 8.3333333333%;
    }
  
    .tile-small-right-2 {
      left: 16.6666666667%;
    }
  
    .tile-small-right-3 {
      left: 25%;
    }
  
    .tile-small-right-4 {
      left: 33.3333333333%;
    }
  
    .tile-small-right-5 {
      left: 41.6666666667%;
    }
  
    .tile-small-right-6 {
      left: 50%;
    }
  
    .tile-small-right-7 {
      left: 58.3333333333%;
    }
  
    .tile-small-right-8 {
      left: 66.6666666667%;
    }
  
    .tile-small-right-9 {
      left: 75%;
    }
  
    .tile-small-right-10 {
      left: 83.3333333333%;
    }
  
    .tile-small-right-11 {
      left: 91.6666666667%;
    }
  
    .tile-small-right-12 {
      left: 100%;
    }
  }
  @media (min-width: 992px) {
    .tile-medium-1 {
      width: 8.3333333333%;
    }
  
    .tile-medium-2 {
      width: 16.6666666667%;
    }
  
    .tile-medium-3 {
      width: 25%;
    }
  
    .tile-medium-4 {
      width: 33.3333333333%;
    }
  
    .tile-medium-5 {
      width: 41.6666666667%;
    }
  
    .tile-medium-6 {
      width: 50%;
    }
  
    .tile-medium-7 {
      width: 58.3333333333%;
    }
  
    .tile-medium-8 {
      width: 66.6666666667%;
    }
  
    .tile-medium-9 {
      width: 75%;
    }
  
    .tile-medium-10 {
      width: 83.3333333333%;
    }
  
    .tile-medium-11 {
      width: 91.6666666667%;
    }
  
    .tile-medium-12 {
      width: 100%;
    }
  
    .tile-medium-left-0 {
      right: auto;
    }
  
    .tile-medium-left-1 {
      right: 8.3333333333%;
    }
  
    .tile-medium-left-2 {
      right: 16.6666666667%;
    }
  
    .tile-medium-left-3 {
      right: 25%;
    }
  
    .tile-medium-left-4 {
      right: 33.3333333333%;
    }
  
    .tile-medium-left-5 {
      right: 41.6666666667%;
    }
  
    .tile-medium-left-6 {
      right: 50%;
    }
  
    .tile-medium-left-7 {
      right: 58.3333333333%;
    }
  
    .tile-medium-left-8 {
      right: 66.6666666667%;
    }
  
    .tile-medium-left-9 {
      right: 75%;
    }
  
    .tile-medium-left-10 {
      right: 83.3333333333%;
    }
  
    .tile-medium-left-11 {
      right: 91.6666666667%;
    }
  
    .tile-medium-left-12 {
      right: 100%;
    }
  
    .tile-medium-right-0 {
      left: auto;
    }
  
    .tile-medium-right-1 {
      left: 8.3333333333%;
    }
  
    .tile-medium-right-2 {
      left: 16.6666666667%;
    }
  
    .tile-medium-right-3 {
      left: 25%;
    }
  
    .tile-medium-right-4 {
      left: 33.3333333333%;
    }
  
    .tile-medium-right-5 {
      left: 41.6666666667%;
    }
  
    .tile-medium-right-6 {
      left: 50%;
    }
  
    .tile-medium-right-7 {
      left: 58.3333333333%;
    }
  
    .tile-medium-right-8 {
      left: 66.6666666667%;
    }
  
    .tile-medium-right-9 {
      left: 75%;
    }
  
    .tile-medium-right-10 {
      left: 83.3333333333%;
    }
  
    .tile-medium-right-11 {
      left: 91.6666666667%;
    }
  
    .tile-medium-right-12 {
      left: 100%;
    }
  }
  @media (min-width: 1200px) {
    .tile-large-1 {
      width: 8.3333333333%;
    }
  
    .tile-large-2 {
      width: 16.6666666667%;
    }
  
    .tile-large-3 {
      width: 25%;
    }
  
    .tile-large-4 {
      width: 33.3333333333%;
    }
  
    .tile-large-5 {
      width: 41.6666666667%;
    }
  
    .tile-large-6 {
      width: 50%;
    }
  
    .tile-large-7 {
      width: 58.3333333333%;
    }
  
    .tile-large-8 {
      width: 66.6666666667%;
    }
  
    .tile-large-9 {
      width: 75%;
    }
  
    .tile-large-10 {
      width: 83.3333333333%;
    }
  
    .tile-large-11 {
      width: 91.6666666667%;
    }
  
    .tile-large-12 {
      width: 100%;
    }
  
    .tile-large-left-0 {
      right: auto;
    }
  
    .tile-large-left-1 {
      right: 8.3333333333%;
    }
  
    .tile-large-left-2 {
      right: 16.6666666667%;
    }
  
    .tile-large-left-3 {
      right: 25%;
    }
  
    .tile-large-left-4 {
      right: 33.3333333333%;
    }
  
    .tile-large-left-5 {
      right: 41.6666666667%;
    }
  
    .tile-large-left-6 {
      right: 50%;
    }
  
    .tile-large-left-7 {
      right: 58.3333333333%;
    }
  
    .tile-large-left-8 {
      right: 66.6666666667%;
    }
  
    .tile-large-left-9 {
      right: 75%;
    }
  
    .tile-large-left-10 {
      right: 83.3333333333%;
    }
  
    .tile-large-left-11 {
      right: 91.6666666667%;
    }
  
    .tile-large-left-12 {
      right: 100%;
    }
  
    .tile-large-right-0 {
      left: auto;
    }
  
    .tile-large-right-1 {
      left: 8.3333333333%;
    }
  
    .tile-large-right-2 {
      left: 16.6666666667%;
    }
  
    .tile-large-right-3 {
      left: 25%;
    }
  
    .tile-large-right-4 {
      left: 33.3333333333%;
    }
  
    .tile-large-right-5 {
      left: 41.6666666667%;
    }
  
    .tile-large-right-6 {
      left: 50%;
    }
  
    .tile-large-right-7 {
      left: 58.3333333333%;
    }
  
    .tile-large-right-8 {
      left: 66.6666666667%;
    }
  
    .tile-large-right-9 {
      left: 75%;
    }
  
    .tile-large-right-10 {
      left: 83.3333333333%;
    }
  
    .tile-large-right-11 {
      left: 91.6666666667%;
    }
  
    .tile-large-right-12 {
      left: 100%;
    }
  }
  @media (min-width: 1400px) {
    .tile-extra-large-1 {
      width: 8.3333333333%;
    }
  
    .tile-extra-large-2 {
      width: 16.6666666667%;
    }
  
    .tile-extra-large-3 {
      width: 25%;
    }
  
    .tile-extra-large-4 {
      width: 33.3333333333%;
    }
  
    .tile-extra-large-5 {
      width: 41.6666666667%;
    }
  
    .tile-extra-large-6 {
      width: 50%;
    }
  
    .tile-extra-large-7 {
      width: 58.3333333333%;
    }
  
    .tile-extra-large-8 {
      width: 66.6666666667%;
    }
  
    .tile-extra-large-9 {
      width: 75%;
    }
  
    .tile-extra-large-10 {
      width: 83.3333333333%;
    }
  
    .tile-extra-large-11 {
      width: 91.6666666667%;
    }
  
    .tile-extra-large-12 {
      width: 100%;
    }
  
    .tile-extra-large-left-0 {
      right: auto;
    }
  
    .tile-extra-large-left-1 {
      right: 8.3333333333%;
    }
  
    .tile-extra-large-left-2 {
      right: 16.6666666667%;
    }
  
    .tile-extra-large-left-3 {
      right: 25%;
    }
  
    .tile-extra-large-left-4 {
      right: 33.3333333333%;
    }
  
    .tile-extra-large-left-5 {
      right: 41.6666666667%;
    }
  
    .tile-extra-large-left-6 {
      right: 50%;
    }
  
    .tile-extra-large-left-7 {
      right: 58.3333333333%;
    }
  
    .tile-extra-large-left-8 {
      right: 66.6666666667%;
    }
  
    .tile-extra-large-left-9 {
      right: 75%;
    }
  
    .tile-extra-large-left-10 {
      right: 83.3333333333%;
    }
  
    .tile-extra-large-left-11 {
      right: 91.6666666667%;
    }
  
    .tile-extra-large-left-12 {
      right: 100%;
    }
  
    .tile-extra-large-right-0 {
      left: auto;
    }
  
    .tile-extra-large-right-1 {
      left: 8.3333333333%;
    }
  
    .tile-extra-large-right-2 {
      left: 16.6666666667%;
    }
  
    .tile-extra-large-right-3 {
      left: 25%;
    }
  
    .tile-extra-large-right-4 {
      left: 33.3333333333%;
    }
  
    .tile-extra-large-right-5 {
      left: 41.6666666667%;
    }
  
    .tile-extra-large-right-6 {
      left: 50%;
    }
  
    .tile-extra-large-right-7 {
      left: 58.3333333333%;
    }
  
    .tile-extra-large-right-8 {
      left: 66.6666666667%;
    }
  
    .tile-extra-large-right-9 {
      left: 75%;
    }
  
    .tile-extra-large-right-10 {
      left: 83.3333333333%;
    }
  
    .tile-extra-large-right-11 {
      left: 91.6666666667%;
    }
  
    .tile-extra-large-right-12 {
      left: 100%;
    }
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .grid .content {
    background: lightgray;
    font-family: Arial;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
  }